<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">Ehance your education with us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="https://raw.githubusercontent.com/thapatechnical/DynmaicWebsite/0b61a3e0df972564bd79f2174c699fdffbd7f736/images/about.svg"
                            alt="Responsive_image">
                    </figure>

                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPERS 👌</h1>
                    <P>WELCOME TO <span class="bold-style"> HEMWAY DEVELOPERS PORT 👌</span>
                        your no one source for all things. We are dedicated to Giving the best of Our Works, With a
                        Focus on Three Charactristics [Dependablity , Customer Service and Uniqueness]</P>
                    <button class="btn-style btn-primary">Read More</button>
                </div>

            </div>

        </div>
    </div>
</div>