<div class="container-fluid mt-5 contact-style " id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">WE WILL BE HAPPY TO HELP YOU</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <form action="/contact" method="POST">

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="FULL Name"
                                name="name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Enter your email" aria-describedby="emailHelp" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label">Phone</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone"
                                name="phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label">Message</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message"
                                name="message">
                        </div>
                        <button type="submit" class="btn-style btn-primary my-5">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- footer --}}

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#serviceid" class="nav-link px-2 text-muted">Services</a></li>
        <li class="nav-item"><a href="#mapid" class="nav-link px-2 text-muted">location</a></li>
        <li class="nav-item"><a href="#aboutid" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">Created by Mr. Deepanshu khorwal , Senior Software Developer , Micorsoft Co. </p>
    <p class="text-center text-muted">© copyrights reserved.</p>
</footer>