body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#action-bar {
  background-color: rgb(0, 0, 0);
  height: 8vh;
  display: flex;
}

#action-bar * {
  margin: 20px 15px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.1);
  color: whitesmoke;
}

#action-bar select {
  font-size: medium;
  color: black;
  background-color: rgb(253, 217, 150);
}

#action-bar select * {
  font-size: medium;
  color: black;
  background-color: rgb(253, 217, 150);
}

#action-bar span:hover {
  transform: scale(1.3);
  background-color: rgba(10, 10, 10, 0.431);
}

#content {
  height: 92vh;
  background-color: rgba(8, 8, 8, 0.835);
  display: flex;
}

#content-list {
  background-color: rgb(238, 158, 11);
  width: 15vw;
  padding: 5px;
}

#content-details {
  width: 85vw;
  border-left: 3px solid teal;
}

#content-details-overlay {
  display: none;
  position: fixed;
  background-color: rgb(251, 181, 89);
  width: 85vw;
  top: 15vh;
  left: 10vw;
  opacity: 0.8;
}

#textContent {
  position: absolute;
  top: 15%;
  left: 60%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: white;
}

#overlay {
  position: fixed;
  top: 8vh;
  left: 0%;
  height: 92vh;
  width: 100vw;
  background-color: black;
  cursor: pointer;
  z-index: 2;
  opacity: 0.5;
  background-image: url("https://getwalls.io/media/large/2020/07/lion-4k-8k-hd-backgrounds-images-large-1068481658.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#play-overlay {
  display: none;
  position: fixed;
  top: 8vh;
  left: 0%;
  height: 92vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
  z-index: 2;
  opacity: 0.3;
}

#play-overlay #text {
  position: absolute;
  top: -4%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

#text {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: rgb(255, 254, 254);
}

#new-Slide {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 251, 251);
  height: 150px;
  width: 220px;
  border-radius: 2px solid black;
  text-align: center;
  line-height: 130px;
  vertical-align: middle;
  font-weight: 900;
  border-radius: 5px;
  margin: 5px 25px;
  cursor: pointer;
  font-size: larger;
}
#new-Slide:hover {
  transform: scale(1.05);
}

.slide {
  background-color: teal;
  height: 120px;
  width: 220px;
  border-radius: 5px;
  margin: 5px 25px;
  cursor: pointer;
  padding: 2px;
}

.slide:hover {
  transform: scale(1.05);
}

.slide .title {
  height: 20%;
  border-bottom: 2px solid whitesmoke;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.slide-content {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 5px;
}

.slide-content .desc {
  width: 48%;
  height: 100%;
  font-size: small;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: cadetblue;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 5px;
}

.slide-content img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

#Slide-list {
  height: calc(92vh - 165px);
  padding-left: 22px;
  overflow-y: auto;
  overflow-x: hidden;
}
#Slide-list > * {
  margin: 10px;
}

#create-slide {
  display: none;
  width: 100%;
}

#show-slide {
  display: none;
  padding: 0px 10px;
}
#create-slide {
  display: none;
}

#create-slide div {
  margin: 10px;
  padding: 10px;
  text-align: center;
  margin-left: 500px;
}

#create-slide textarea {
  width: 100%;
  height: 50vh;
  font-size: 30px;
  border-radius: 4px;
}

#create-slide input {
  width: 90%;
  height: 10vh;
  font-size: 30px;
  border-radius: 4px;
}

#create-slide button {
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font-size: large;
}
#create-slide button:hover {
  transform: scale(1.1);
}

/* slide in view */

.slide-in-view {
  background-color: teal;
  height: 850px;
  width: 98%;
  border-radius: 20px;
  margin: 20px 20px;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
}

.slide-in-view .slide-header {
  height: 10%;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  padding-top: 12px;
}

.slide-in-view .title {
  text-align: center;
  color: white;
  width: 98%;
  font-size: 50px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.slide-in-view .slide-header span {
  font-size: 30px;
  padding: 7px 7px;
  color: white;
}

.slide-in-view .slide-header span:hover {
  color: black;
  text-decoration: underline;
}

.slide-in-view .slide-content {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 5px;
}

.slide-in-view .slide-content .desc {
  width: 48%;
  height: 700px;
  font-size: 20px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: cadetblue;
  border-radius: 2px;
  margin: 20px 5px;
  padding: 5px;
  border-radius: 10px;
}

.slide-in-view .slide-content img {
  width: 50%;
  border-radius: 10px;
  height: 700px;
  margin: 20px 5px;
}

#uploadFile {
  display: none;
}
